html,
body {
  font-family: PingFangSC-Medium, PingFang SC;
  margin: 0;
}
a {
  color: unset;
}
ul li {
  list-style-type: none;
}

// .ivu-input {
//   height: 50px;
// }
// .ivu-form-item {
//   text-align: center;
// }
.book-info {
  .flex-y;
  height: 130px;
  width: 130px;
  > img {
    height: 60px;
    width: 60px;
  }
}
.ivu-menu-primary {
  background: @base-bg-color;
}
.ivu-input-prefix {
  .flex-x-center;
}
.ivu-input-suffix {
  .flex-x-center;
}
.ivu-layout {
  height: 100vh;
}
.unique {
  .ivu-input-suffix {
    display: block;
    width: 62px;
    height: 45px;
    margin-right: 10px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
